html{
	height: 100%;
	background: url("../assets/images/background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
  	margin: 0;
  	padding: 0;
  	font-family: sans-serif;
  	background-color: #fff;
}
#transparent{
	background: url("../assets/images/transparent.png");
	border-radius: 0.5rem;
	color: #F0FFFF;
}
.form-div{
	padding-top: 40px;
}
form{
	width: 75%;
}
h1{
	padding-left: 10px;
}
.link-div{
	width: 25%;
}
.log-nav{
	padding: 5px;
	width: 50%;
	margin-left: 270px;
}
.link-div div{
	list-style: none;
	margin-left: 6rem;
    letter-spacing: .1rem;
    width: 10rem;
}
.link-div>div>a{
	font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.name{
	font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: #F0FFFF;
}
.link-div{
	display: -webkit-inline-box
}
#search {
	position: absolute;
	width: 700px;
	top: 50%;
	left: 50%;
	margin: 100px -250px;
	text-align: center;
	-webkit-box-align:center;
}
.name{
	margin-right: 175px;
	text-align: center;
}
#search-box{
	width: 90%;
	float: right;
	margin-left: 100px;
	display: inline-block;
	text-align: center;
}
#search-btn{
	margin-top: 5px;
	text-align: center;
	margin-left: 40px;
}
.nav-link{
	padding: 10px;
	font-size: 18px;
	font-weight: 500;
	padding-left: 40px;
	padding-right: 10px;
	margin-top: 23px;
	color: #F0FFFF;
}
.favorites-container>.delete-favorites img{
	height: 14px;
	width: 14px;
	display: inline-block;
}
.favorites-container> .favorites-title{
	color: #F0FFFF;
	position: relative;
	text-align: center;

}
.favorites-container{
	position: relative;
	padding-left: 30px;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    margin: 50px 0 0 400px;
    display: inline-block;
}
.recipe-list{
	padding-top: 40px;
	background-color: green;
	margin-bottom: 20px;
	margin-top: 200px;
	display: inline-block;
	position: absolute;
	right: 180px;
	text-align: center;
	border: 1px solid black;
	width: 500px;
	height: 500px;

}
#pic{
	background: url('/assets/images/stock.png');
}